*~
*.swp
*.pyc
*.log
*.bak
*.noGit
*.nogit
.doit.db*
*.failed

patchs/
tmp/
ref_vst/
__pycache__/
**/log/

perf.data
*.profile.txt
*.katana.dat
*.histogram.dat
*.histogram.plt
*.blif
**/coriolis2/SU-LIP6/

*_r.*
*.lyrdb

.ipynb_checkpoints
.vscode
